// Page Header and Hero

.header-hero {
    background: $dark-blue $background-hero center center no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
    display: block;
    position: relative;
    z-index: 0;
    padding: $spacing-base * 2;
    @media screen and (max-height: 767px) {
        padding: $spacing-base;
    }
    .logo {
        text-align: left;
        position: absolute;
        img { width: 75px; }
    }
    .content{
        &.container{
            padding: 0;
            color: $white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 54px;
            }
            h2{
                font-size: 36px;
                font-weight: bolder;
            }
            h3{
                margin-top: $spacing-base;
                line-height: 1.5;
            }

            @media screen and (max-width: 767px) {
                h1{
                    font-size: 28px;
                }
                h2{
                    font-size: 26px;
                }
                h3{
                    font-size: 18px;
                }
            }
        }
    }
}