// Colors
$blue: #007bc1;
$blue-bg-transparent: rgba(0, 123, 193, 0.9);
$dark-blue: #004a75;
$orange: #ff8000;
$dark-orange: #cc6600;
$smoke-grey: #e5e5e5;
$dark-grey: #b9b4b0;
$white: #fff;

// Guide
$spacing-base: 16px;
$font-base: 1rem;
$bold: 800;

// Others
$background-hero: url('../assets/background.jpg');