@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import '_variables.scss';

@import '_notification.scss';
@import '_hero.scss';


html, body{
    font-family: 'Roboto', sans-serif !important;
}

.btn{
    &.btn-primary{
        background-color: $blue;
        border-color: $blue;
        padding-left: $spacing-base;
        padding-right: $spacing-base;
        &:not(:disabled):not(.disabled):active, &:focus, &.focus, &:hover{
            background-color: $dark-blue;
        }
    }
    &.btn-info{
        margin-top: $spacing-base * 2;
        border: 2px solid $white;
        background: none;
        padding: $spacing-base;
        padding-left: $spacing-base * 2;
        padding-right: $spacing-base * 2;
        text-transform: uppercase;
        font-weight: $bold;
        &:not(:disabled):not(.disabled):active, &:focus, &.focus, :hover{
            background: $white;
            color: $dark-blue;
        }
    }
}